.Char-wrapper {
    display: grid;
    grid-gap: 10px;
        grid-template-columns: auto auto auto;
        background-color:#444444;
        color: #444;
    }

    .Char-box {
        background-color: #2D2D2D;
        color: #fff;
        border-radius: 5px;
        padding: 5px;
        font-size: 100%;
        border: 1px black solid;
        text-align: left;

    }
    .Char-State {
        grid-column: 1 / 4;
        grid-row: 4;
        text-align: center;
        font-size: 150%;
        font-weight: bold;
        text-align: center;
    }
    .Char-Actions {
        grid-column: 1 / 4;
        grid-row: 3;
    }
    .Char-Name {
        grid-column: 1 / 3;
        grid-row: 1;
        font-size: 150%;
        font-weight: bold;
        padding-top: 5px;
        text-align: center;
    }
    .Char-Img {
        grid-column: 3 ;
        grid-row: 1 / 3;
        text-align: center;
    }
    .Char-Agro {
        grid-column: 1 ;
        grid-row: 2 ;
    }
    .Char-Def {
        grid-column: 2;
        grid-row: 2;
    }

    .Chars-conteiner    {
        display: inline-block;
        background-color: darkcyan;
        border-radius: 25px;
    }
    .Char-inactive{
        color: red;
    }
    .Char-active{
        color: green;
    }
    .Char-Link-Bar{
        display: inline-block;
        background-color: #2D2D2D;
        border: 1px black solid;
        width: 100%;
        padding: 10px;
        margin-bottom: 5px;
    }


    .Char-ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
       
     .Char-li {
        font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
        -moz-box-shadow:inset 0px 1px 0px 0px #f9eca0;
        -webkit-box-shadow:inset 0px 1px 0px 0px #f9eca0;
        box-shadow:inset 0px 1px 0px 0px #f9eca0;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e));
        background:-moz-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
        background:-webkit-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
        background:-o-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
        background:-ms-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
        background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e',GradientType=0);
        background-color:#f0c911;
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        border:1px solid #e65f44;
        cursor:pointer;
        color:#c92200;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ded17c;
      }
       
      .Char-li:last-child {
        border: none;
      }
       
      .Char-li a {
        text-decoration: none;
        color: #000;
        display: block;
        width: 100%;
       
        -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
        -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
        -o-transition: font-size 0.3s ease, background-color 0.3s ease;
        -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
        transition: font-size 0.3s ease, background-color 0.3s ease;
      }
       
      .Char-li a:hover {
        font-size: 30px;
    
      }

      .padding-top5{
          padding-top: 5px;
      }


      input,select{
          font-size: 200%;
          font-weight: 400;
          color: #377D6A;
          background: rgba(0,0,0,0.3);
          border: none;
          outline: none;
          color: #fff;
          text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
          border: 1px solid rgba(0,0,0,0.3);
          border-radius: 4px;
          box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px  1px rgba(255,255,255,0.2);
          text-indent: 5px;
          transition: all .3s ease-in-out;
          position: relative;
      }
      input,select:focus{
          box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
      }
      .selectStyle{
        width:300px;
        cursor: pointer;
      }
     .selectOption{
         background-color: #A17E1A;
     }